<section class="container">
  <form class="formulario" (ngSubmit)="transferir()">
    <h2 class="formulario__titulo">Nova Transferência</h2>

    <div class="form-field">
      <label for="valor" class="form-field__label">Valor</label>
      <input
        id="valor"
        [(ngModel)]="valor"
        name="valor"
        class="form-field__input"
        type="number"
      />
    </div>

    <div class="form-field">
      <label for="destino" class="form-field__label">Destino</label>
      <input
        id="destino"
        [(ngModel)]="destino"
        name="destino"
        class="form-field__input"
        type="destino"
      />
    </div>

    <div class="botao-wrapper">
      <button class="botao">Transferir</button>
    </div>
  </form>
</section>
