/*CABEÇALHO*/
.cabecalho__container {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
}

.cabecalho__pesquisar__item{
    display: none;
}

/*SUPERIOR SEÇÃO*/
.superior__secao__container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
}

/*MENU*/
.menu__container{
    position: fixed;
    bottom: 0%;
    height: 74px;
    width: 100%;    
}

.menu__lista{
    display: flex;  
    height: 100%;
    justify-content: space-around; 
    align-items: center;

}

.menu__lista li{
    align-self: center;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}

.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*RODAPÉ*/
.rodape__container{
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap;  */  
    flex-flow: column wrap;
}

@media(min-width:834px){
    /*CABEÇALHO*/
    .cabecalho__pesquisar__item{
        display: block;
    }

    /*RODAPÉ*/
    .rodape__container{
        justify-content: space-between;
    }

    /*MENU*/
    .menu__container{
        position: fixed;
        height: auto;
        width: 74px;
        top: 80px;        
    }

    .menu__lista{
        display: flex;  
        gap: 33px;
        flex-direction: column;
        padding-top: 15px;
        justify-content: flex-start; 
    }
}


@media(min-width: 1140px){
  /*MENU*/
  .menu__container{
    width: 239px;
    overflow: scroll;
  }

  .menu__lista:nth-child(2),
  .menu__lista:nth-child(3),
  .menu__lista:nth-child(4){
      display: flex;
  }

  .menu__lista{
    height: auto;
    padding: 20px 17px 20px 15px;
    gap:15px;
  }
  
  .menu__itens{
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }
}